@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


<div class="container">

    <div class="row pt-4">
        <div class="col-md-4 mb-1">
            <div class="card profile-card">

                <!--Avatar-->
                <div class="avatar ">
                    <center>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(25).jpg" width="200px"
                             height="200px" class="rounded-circle" alt="First sample avatar image">
                    </center>
                </div>

                <div class="card-body pt-0 mt-0" style="background-color:#3c96df; color:white">
                    <!--Name-->
                    <div class="text-center">
                        <h3 class="mb-3 font-weight-bold"><strong>Cliente 1</strong></h3>
                        <h6 class="font-weight-bold blue-text mb-4">Maestro</h6>
                    </div>

                    <ul class="striped list-unstyled">
                        <li><strong>E-mail:</strong> a.doe@example.com</li>

                        <li><strong>Celular:</strong> +1 234 5678 90</li>

                        <li><strong>Compania:</strong> The Company, Inc</li>

                        <li><strong>Twitter:</strong> @@anna.doe</li>

                        <li><strong>Instagram:</strong> @@anna.doe</li>
                    </ul>

                </div>

            </div>
        </div>
        <div class="col-md-4 mb-1">
            <div class="card profile-card">

                <!--Avatar-->
                <div class="avatar ">
                    <center>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg" width="200px"
                             height="200px" class="rounded-circle" alt="First sample avatar image">
                    </center>
                </div>

                <div class="card-body pt-0 mt-0" style="background-color:#3c96df; color:white">
                    <!--Name-->
                    <div class="text-center">
                        <h3 class="mb-3 font-weight-bold"><strong>Cliente 2</strong></h3>
                        <h6 class="font-weight-bold blue-text mb-4">Maestro</h6>
                    </div>

                    <ul class="striped list-unstyled">
                        <li><strong>E-mail:</strong> a.doe@example.com</li>

                        <li><strong>Celular:</strong> +1 234 5678 90</li>

                        <li><strong>Compania:</strong> The Company, Inc</li>

                        <li><strong>Twitter:</strong> @@anna.doe</li>

                        <li><strong>Instagram:</strong> @@anna.doe</li>
                    </ul>

                </div>

            </div>
        </div>

        <div class="col-md-4 mb-1">
            <div class="card profile-card">

                <!--Avatar-->
                <div class="avatar ">
                    <center>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" width="200px"
                             height="200px" class="rounded-circle" alt="First sample avatar image">
                    </center>
                </div>

                <div class="card-body pt-0 mt-0" style="background-color:#3c96df; color:white">
                    <!--Name-->
                    <div class="text-center">
                        <h3 class="mb-3 font-weight-bold"><strong>Cliente 3</strong></h3>
                        <h6 class="font-weight-bold blue-text mb-4">Maestro</h6>
                    </div>

                    <ul class="striped list-unstyled">
                        <li><strong>E-mail:</strong> a.doe@example.com</li>

                        <li><strong>Celular:</strong> +1 234 5678 90</li>

                        <li><strong>Compania:</strong> The Company, Inc</li>

                        <li><strong>Twitter:</strong> @@anna.doe</li>

                        <li><strong>Instagram:</strong> @@anna.doe</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-md-4 mb-1">
            <div class="card profile-card">

                <!--Avatar-->
                <div class="avatar ">
                    <center>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(28).jpg" width="200px"
                             height="200px" class="rounded-circle" alt="First sample avatar image">
                    </center>
                </div>

                <div class="card-body pt-0 mt-0" style="background-color:#3c96df; color:white">
                    <!--Name-->
                    <div class="text-center">
                        <h3 class="mb-3 font-weight-bold"><strong>Cliente 4</strong></h3>
                        <h6 class="font-weight-bold blue-text mb-4">Maestro</h6>
                    </div>

                    <ul class="striped list-unstyled">
                        <li><strong>E-mail:</strong> a.doe@example.com</li>

                        <li><strong>Celular:</strong> +1 234 5678 90</li>

                        <li><strong>Compania:</strong> The Company, Inc</li>

                        <li><strong>Twitter:</strong> @@anna.doe</li>

                        <li><strong>Instagram:</strong> @@anna.doe</li>
                    </ul>

                </div>

            </div>
        </div>
        <div class="col-md-4 mb-1">
            <div class="card profile-card">

                <!--Avatar-->
                <div class="avatar ">
                    <center>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" width="200px"
                             height="200px" class="rounded-circle" alt="First sample avatar image">
                    </center>
                </div>

                <div class="card-body pt-0 mt-0" style="background-color:#3c96df; color:white">
                    <!--Name-->
                    <div class="text-center">
                        <h3 class="mb-3 font-weight-bold"><strong>Cliente 5</strong></h3>
                        <h6 class="font-weight-bold blue-text mb-4">Maestro</h6>
                    </div>

                    <ul class="striped list-unstyled">
                        <li><strong>E-mail:</strong> a.doe@example.com</li>

                        <li><strong>Celular:</strong> +1 234 5678 90</li>

                        <li><strong>Compania:</strong> The Company, Inc</li>

                        <li><strong>Twitter:</strong> @@anna.doe</li>

                        <li><strong>Instagram:</strong> @@anna.doe</li>
                    </ul>

                </div>

            </div>
        </div>

        <div class="col-md-4 mb-1">
            <div class="card profile-card">

                <!--Avatar-->
                <div class="avatar ">
                    <center>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" width="200px"
                             height="200px" class="rounded-circle" alt="First sample avatar image">
                    </center>
                </div>

                <div class="card-body pt-0 mt-0" style="background-color:#3c96df; color:white">
                    <!--Name-->
                    <div class="text-center">
                        <h3 class="mb-3 font-weight-bold"><strong>Cliente 6</strong></h3>
                        <h6 class="font-weight-bold blue-text mb-4">Maestro</h6>
                    </div>

                    <ul class="striped list-unstyled">
                        <li><strong>E-mail:</strong> a.doe@example.com</li>

                        <li><strong>Celular:</strong> +1 234 5678 90</li>

                        <li><strong>Compania:</strong> The Company, Inc</li>

                        <li><strong>Twitter:</strong> @@anna.doe</li>

                        <li><strong>Instagram:</strong> @@anna.doe</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>



</div>
