@{
    Layout = "~/Views/Shared/Footer.cshtml";
}

<div class="grid-container" style="background-color: rgb(60, 150, 223)">
    <div class="Fondo_icono" style="background-color: rgb(17, 68, 97)">

        <img class="center" src="~/Content/Iconos/payment.png" />
    </div>
    <div class="LOGIN" style="background-color: rgb(255, 255, 255)">

        @using (Ajax.BeginForm("BoletaValidar", "Home", new AjaxOptions { UpdateTargetId = "info_login" }, new { @class = "USUARIO" }))
        {
            <div id="info_login">
                <div class="USUARIO">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <p>@ViewBag.boleta </p>
                        <label for="icon_prefix">Numero de Boleta</label>
                    </div>
                </div>
                <div class="USUARIO">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">payment</i>
                        <input id="txtnumero" name="txtnumero" type="text" class="validate">
                        <label for="icon_prefix">Numero de Tarjeta</label>
                    </div>
                </div>
                <div class="CORREO">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">security</i>
                        <input id="txtcodigo" name="txtcodigo" type="text" class="validate">
                        <label for="icon_prefix">Codigo de Seguridad</label>
                    </div>
                </div>
                <div class="CORREO">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">today</i>
                        <input id="txtfecha" name="txtfecha" type="text" placeholder="MM/AA" class="validate">
                        <label for="icon_prefix">Fecha de Vencimiento</label>
                    </div>
                </div>
                <div class="BOTON">
                    <button class="waves-effect waves-light btn" style="color:#FFFFFF" ;><i class="material-icons right"></i>Confirmar el pago</button>
                </div>
            </div>
        }


    </div>
    <div class="ESPACIO_LOGO">
        <div class="LOGO">
            <img class="center" src="~/Content/Iconos/logo_empresa.png" />
        </div>
    </div>


    <div class="PIE">
        <div class="FOOTER">

            <footer class="page-footer" style="background-color: rgb(60, 150, 223); margin-top:11%;">

                <div class="footer-copyright" style="background-color: rgb(17, 68, 97)">
                    <div class="container">
                        © 2019 Proyecto AYD1
                        <a class="grey-text text-lighten-4 right" href="https://www.facebook.com">More Links</a>
                    </div>
                </div>
            </footer>

        </div>

    </div>


</div>
