@{
    Layout = "~/Views/Shared/Footer.cshtml";
}

<div class="grid-container" style="background-color: rgb(60, 150, 223)">
    <div class="Fondo_icono" style="background-color: #114461">
        
        <img class="center" src="~/Content/Iconos/user.png" />
    </div>
    <div class="LOGIN" style="background-color: rgb(255, 255, 255)">

        <div class="LINKS">
            <ul>
                <li><b><a style="color:rgb(60, 150, 223)" href="Login.html">Login</a></b></li>
                <li><a href="#">/</a></li>
                <li><a style="color:rgb(0, 0, 0)" href="Registro.html">Registro</a></li>
            </ul>

        </div>




        
        @using (Ajax.BeginForm("Validar", "Home", new AjaxOptions { UpdateTargetId = "info_login" }, new { @class = "USUARIO" }))
        {
        <div id="info_login">
            <div class="USUARIO">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="txtcorreo" name="txtcorreo" type="text" class="validate">
                    <label for="icon_prefix">Usuario</label>
                </div>
            </div>
            <div class="PASSWORD">
                <div class="input-field col s6">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="txtcontra" name="txtcontra" type="password" class="validate">
                    <label for="icon_prefix">Contraseña</label>
                </div>
            </div>
            <div class="BOTON">
                <button  class="waves-effect waves-light btn" style="color:#FFFFFF" ;><i class="material-icons right"></i>Login</button>
                </div>
            </div>
            }


        </div>
            <div class="ESPACIO_LOGO">
                <div class="LOGO">

                    <img class="center" src="~/Content/Iconos/logo_empresa.png" />
                </div>
            </div>


            <div class="PIE">
                <div class="FOOTER">

                    <footer class="page-footer" style="background-color: rgb(60, 150, 223); margin-top:11%;">

                        <div class="footer-copyright" style="background-color: rgb(17, 68, 97)">
                            <div class="container">
                                © 2019 Proyecto AYD1
                                <a class="grey-text text-lighten-4 right" href="https://www.facebook.com">More Links</a>
                            </div>
                        </div>
                    </footer>

                </div>
                <div class="LINKS">
                    <div class="padre">
                        <u><a style="color:#FFFFFF;" href="Registro.html">No tienes una cuenta?</a></u>
                        <b> /</b>
                        <u><a style="color:#FFFFFF;" href="#contact">Recuperar Contraseña</a></u>
                    </div>
                </div>


            </div>
        </div>